.navbar {
  @apply sticky top-0 bg-white border-b border-b-neutral-200 z-[1000];
  @apply flex items-center justify-between py-2 md:py-4;
  border: none;

}

/* .navbar > .container {
  width: 100%;
 
  @apply flex items-center justify-between py-2 md:py-4; 
} */

.navbar_brand {  margin-left: 1.5rem;
  
  @apply text-xl font-bold z-[1];
}
.navbar_links {
  /* Initial state (hidden) */
  @apply items-center gap-x-5 font-semibold hidden md:flex;
  @apply flex flex-col absolute top-0 left-0 w-full bg-white py-8 gap-y-7 mt-[1px] -translate-y-full duration-300;
  @apply md:flex-row md:static md:top-auto md:left-auto md:bg-transparent md:py-0 md:mt-0 md:translate-y-0 md:duration-0 md:w-auto;

  /* Ensure links are pushed to the right */
  @apply md:ml-auto;
  margin-right: 1.5rem;
}

.navbar_links.show {
 
  @apply top-full translate-y-0 -z-[1]; 
}

.navbar_toggler {
  @apply text-2xl px-2 py-1 border border-neutral-200 rounded md:hidden z-[2];
}


nav ul {
  @apply flex items-center justify-end; /* Flexbox and justify-end to align links to the right */
  padding-inline-start: 0; /* Remove padding from the list */
  margin-block-start: 0; /* Reset top margin */
  margin-block-end: 0; /* Reset bottom margin */
}

nav ul li {
  list-style: none; /* Remove bullet points from the list items */
}

nav ul a {
  color: #2d2e32;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.23s;
  font-size: 1.1rem;
}

.navbar_links a {
  @apply duration-300 hover:text-blue-600;
}
